@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}


.footer {
  width: 100%; /* Full width */
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}